<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="https://stackoverflow.com/questions/37131706/how-to-solve-installation-error-while-installing-tomcat">Django Girls Blog</a></h1>
        </div>


{% for Post in Posts %}
<div>

  <h1> <a href="">{{Post.title}}</a> </h1>
  <p>{{Post.text|linebreaksbr}} </p>
  <p> Published: {{Post.published_date}} </p>
</div>
{% endfor %}

    </body>
</html>
